{%- liquid
  unless loading
    assign loading = 'lazy'
  endunless

  assign condition = "isLgBreakpoint() && currentLink === '" | append: handle | append: "'"
-%}
<div
  class="{% if modal %}pointer-events-none fixed left-1/2 top-1/2 z-10 w-third-screen -translate-x-1/2 -translate-y-1/2 {% endif %}no-js:hidden"
  x-show="{{ condition }}"
  x-transition:enter="transition-opacity duration-200"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition-opacity duration-200"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  style="display: none;"
  :aria-hidden="{{ condition }}"
>
  {% if modal %}
    {% render 'image',
      image: image,
      sizes: 'calc(100vw / 3)',
      loading: loading,
      no_placeholder: true
    %}
  {% else %}
    {% render 'image-fit', image: image, sizes: sizes, no_placeholder: true %}
  {% endif %}
</div>
