<span class="h-full w-full fill-current">
  <svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    class="icon icon-product-box"
    viewBox="0 0 24 24"
  >
    <path d="M11.745 1.049a.688.688 0 0 1 .51 0l10.313 4.125.016.006a.695.695 0 0 1 .138.078l.015.014c.092.069.159.157.202.254l.036.1a.681.681 0 0 1 .018.088v.003l.007.095v12.375a.688.688 0 0 1-.432.638l-10.293 4.118a.693.693 0 0 1-.012.005l-.022.008a.613.613 0 0 1-.192.043.63.63 0 0 1-.184-.012.723.723 0 0 1-.12-.037l.077.027a.688.688 0 0 1-.064-.021l-.013-.006a.466.466 0 0 1-.02-.007L1.432 18.825A.688.688 0 0 1 1 18.187V5.812a.706.706 0 0 1 .025-.185l.036-.101a.664.664 0 0 1 .2-.255l.018-.012a.652.652 0 0 1 .153-.085l-.072.034a.695.695 0 0 1 .056-.028l.016-.006Zm-9.37 5.779V17.72l8.938 3.575V10.403L2.374 6.828Zm19.25-.001-8.938 3.575v10.894l8.938-3.575V6.827Zm-1.08 9.042a.688.688 0 0 1-.3.854l-.083.04-1.72.687a.688.688 0 0 1-.594-1.236l.084-.04 1.719-.688a.687.687 0 0 1 .894.383ZM7.358 4.284l-3.82 1.528L12 9.196l3.819-1.528-8.461-3.384ZM12 2.427 9.209 3.543l8.461 3.385 2.79-1.116L12 2.427Z"></path>
  </svg>
</span>
