<div
  class="hidden"
  x-data
  x-init="$store.modals.register('filters', 'leftDrawer'); initTeleport($root);"
>
  <template
    data-template-fragment-id="filters-form-drawer"
    data-should-teleport="#left-drawer-slot"
  >
    <div
      x-show="$store.modals.leftDrawer.contents === 'filters'"
      :data-modal-label="$store.modals.leftDrawer.contents === 'filters' ? '{{ 'collections.filters.title_tags' | t }}' : false"
    >
      <form
        id="filters-form-drawer"
        data-fragment-id="filters-form-drawer"
        @submit.prevent="filterFormSubmit"
        class="flex min-h-screen flex-col"
      >
        <div class="sticky top-0 z-[21] flex items-center justify-between border-b-gridline border-gridline-color bg-scheme-background px-section-horizontal-spacing py-4">
          <div>{{ 'collections.filters.title_tags' | t }}</div>
          <button
            @click.prevent="$store.modals.close('filters')"
            class="absolute right-0 top-0 block h-full"
            type="button"
          >
            <span class="sr-only">
              {{- 'general.accessibility.close_modal' | t -}}
            </span>
            <div class="my-auto mr-section-horizontal-spacing h-6 w-6">
              {% render 'icon-close' %}
            </div>
          </button>
        </div>
        {%
          render 'filterable-sidebar',
          context: 'drawer',
          show_filters: show_filters,
          show_sort: show_sort,
          filters: filters,
          total_active_values: total_active_values,
          section_color: section_color,
          clear_url: clear_url,
          sort_options: sort_options,
          sort_by: sort_by,
          start_collapsed: start_collapsed,
          is_search: is_search,
          search_terms: search_terms,
        %}
      </form>
    </div>
  </template>
</div>
