<div
    id="PoliciesModal"
    class="fixed customModal bottom-0 left-0 right-0 top-0 z-50 flex items-start justify-center bg-scheme-background text-center text-scheme-text"
    style="display: none;"
    data-color-scheme="scheme1"
  >
    <button
        onclick="hideModalPolicies()"
      class="fixed right-4 top-4 ml-auto block w-8 p-1"
    >
      <span class="sr-only">
        {{- 'general.accessibility.close_modal' | t -}}
      </span>
      <span class="inline-block h-6 w-6">{% render 'icon-close' %}</span>
    </button>

    <div class="px-section-horizontal-spacing py-section-vertical-spacing lg:max-w-2xl">
      <h4 class="font-heading text-2xl">
        Clubby Sports Privacy policy
      </h4>

      <div class="mt-8  text-left lg:mx-auto">
        {{ pages["privacy-policy"].content }}
      </div>
    </div>
  </div>