{%- liquid
  assign display_view_all_underneath = false

  if title == '' and show_link
    assign display_view_all_underneath = true
  endif

  if title != '' and show_link and settings.section_title_align == 'center'
    assign display_view_all_underneath = true
  endif
-%}

{%- if display_view_all_underneath -%}
  <div
    class="bg-scheme-background px-section-horizontal-spacing {% unless no_padding %}pb-theme-double pt-theme{% endunless %} {% if center_vertically %}flex items-center [&.text-center>a]:mx-auto [&.text-right>a]:ml-auto{% endif %} text-scheme-text {% if settings.section_title_align == 'center' %}text-center{% else %}text-right{% endif %}{% unless no_border %} border-t-gridline border-gridline-color{% endunless %}"
    data-color-scheme="{{ section_color }}"
  >
    <a
      class="theme-link inline-block text-scheme-text hover:text-scheme-accent"
      href="{{ link_url }}"
    >
      {{- link_text -}}
    </a>
  </div>
{%- endif -%}
