{%- assign section_color = 'scheme1' -%}
<section
  id="main-cart-items"
  class="border-b-gridline border-gridline-color text-scheme-text bg-scheme-background"
  data-color-scheme="{{ section_color }}"
>
  {% render 'cart-items' %}
</section>
