{%- assign pick_up_availabilities = product_variant.store_availabilities
  | where: 'pick_up_enabled', true
-%}

<div class="location-inventory empty:hidden">
  <ul class="space-y-2 empty:hidden">
    {% for availability in pick_up_availabilities %}
      {% liquid
        if availability.available
          assign list_item_class = ''
          assign inventory_status = 'products.product.in_stock' | t
        else
          assign list_item_class = 'text-scheme-text/50'
          assign inventory_status = 'products.product.out_of_stock' | t
        endif
      %}
      <li class="{{ list_item_class }}">
        {{ availability.location.name }}: {{ inventory_status }}
      </li>
    {% endfor %}
  </ul>
</div>
