{%- assign text = 'general.404.link' | t -%}

<div
  class="border-b-gridline border-gridline-color bg-scheme-background px-section-horizontal-spacing py-section-vertical-spacing text-center text-scheme-text"
  data-color-scheme="scheme1"
>
  <h1 class="font-heading text-heading-feature mb-8">
    {{ 'general.404.title' | t }}
  </h1>
  <p class="mb-8 mt-4">{{ 'general.404.subtext' | t }}</p>
  <a
    class="theme-link inline-block text-scheme-text hover:text-scheme-accent"
    href="{{ routes.root_url }}"
  >
    {{- text -}}
  </a>
</div>
