.form__errors {

    margin-left: 0px;

    margin-right: 0px;

    border-width: 1px;

    border-color: rgb(var(--color-scheme-accent) / var(--tw-border-opacity));

    --tw-border-opacity: 0.4;

    background-color: rgb(var(--color-scheme-accent) / var(--tw-bg-opacity));

    --tw-bg-opacity: 0.1;

    padding: 0.75rem;

    --tw-text-opacity: 1;

    color: rgb(var(--color-scheme-accent) / var(--tw-text-opacity))
}

.form__errors:not(.form__errors--compact) {

    margin-bottom: 1.25rem
}

.form__errors ul {

    margin: 0px;

    list-style-type: none
}

.form__errors ul > :not([hidden]) ~ :not([hidden]) {

    --tw-space-y-reverse: 0;

    margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));

    margin-bottom: calc(0.375rem * var(--tw-space-y-reverse))
}

.form__errors ul {

    padding: 0px;

    font-size: var(--font-size-sm);

    line-height: var(--base-line-height)
}

.form__errors a {

    --tw-text-opacity: 1;

    color: rgb(var(--color-scheme-accent) / var(--tw-text-opacity));

    text-decoration-line: underline
}
