<span class="h-full w-full fill-current">
  <svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    class="icon icon-video"
    viewBox="0 0 26 26"
  >
    <path fill-rule="evenodd" d="M8.2 5.8v14.4l11.2-7.614L8.2 5.8Z" clip-rule="evenodd"></path>
  </svg>
</span>
