<span class="h-full w-full fill-current">
  <svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    class="icon icon-product-ruler"
    viewBox="0 0 24 24"
  >
    <path d="M16.177 1.208a.709.709 0 0 1 1.002 0l5.613 5.613a.709.709 0 0 1 0 1.002L7.823 22.793a.709.709 0 0 1-1.002 0l-5.613-5.614a.709.709 0 0 1 0-1.002Zm.5 1.503-2.272 2.272 1.37 1.37a.709.709 0 0 1-.922 1.071l-.08-.069-1.37-1.37-1.804 1.804 1.37 1.37a.709.709 0 0 1-.923 1.072l-.08-.069-1.37-1.37-1.804 1.804 1.37 1.37a.709.709 0 0 1-.923 1.071l-.08-.068-1.369-1.371-1.805 1.804 1.37 1.37a.709.709 0 0 1-.922 1.072l-.08-.069-1.37-1.37-2.272 2.273 4.61 4.61L21.289 7.323l-4.61-4.61Z"></path>
  </svg>
</span>
