<span class="h-full w-full fill-current">
  <svg
    aria-hidden="true"
    focusable="false"
    role="presentation"
    class="icon icon-product-iron"
    viewBox="0 0 24 24"
  >
    <path d="M16.542 3.66a4.445 4.445 0 0 1 4.342 3.474l.04.197 2.058 11.673a1.136 1.136 0 0 1-.994 1.33l-.125.006H1.687A.687.687 0 0 1 1 19.653a9.69 9.69 0 0 1 9.383-9.686l.308-.004h9.3L19.57 7.57a3.07 3.07 0 0 0-2.855-2.53l-.171-.005H9.79a.687.687 0 0 1-.093-1.369l.093-.006h6.752Zm3.691 7.677h-9.542a8.315 8.315 0 0 0-8.272 7.458l-.015.17H21.58l-1.346-7.628ZM7.53 14.841l.112.006a1.031 1.031 0 1 1-.224 0l.112-.006Zm4.812 0 .112.006a1.031 1.031 0 1 1-.225 0l.113-.006Zm4.811 0 .112.006a1.031 1.031 0 1 1-.224 0l.112-.006Z"></path>
  </svg>
</span>
