<div
  x-data
>
  <template x-teleport="body">
    <div
      x-show="$store.modals.promo.open"
      class="fixed inset-0 z-110 pointer-events-none"
      id="modals-promo"
    >
      <div
        x-show="$store.modals.promo.open"
        class="h-full w-full flex"
      >
        <div
          x-show="$store.modals.promo.open"
          x-transition:enter="transition duration-300 motion-reduce:duration-0 delay-75 outline-0"
          x-transition:enter-start="translate-y-full"
          x-transition:enter-end="translate-y-0"
          x-transition:leave="transition duration-300 motion-reduce:duration-0 outline-0"
          x-transition:leave-start="translate-y-0"
          x-transition:leave-end="translate-y-full"
          class="relative w-full mt-auto top-auto right-0 bottom-0 left-0 overflow-y-auto pointer-events-auto"
          id="promo-slot"
          role="dialog"
          aria-modal="true"
          :aria-label="getModalLabel('promo', $el)"
          tabindex="-1"
        >
          <!-- Modal content is teleported here -->
        </div>
      </div>
    </div>
  </template>
</div>
